<html>
    <head>
        <title>Finding Joe</title>
        <link rel="stylesheet" href="style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <style>

        *{
            font-family: 'Ubuntu', sans-serif;
        }
        .material-symbols-rounded {
            font-variation-settings:
            'FILL' 1,
            'wght' 600,
            'GRAD' 200,
            'opsz' 48
          }

    </style>
</html>
<body>

    <div class="absolutecenter screen" style="width:100%">
        <div class="flexcenter" style="margin:10px">
            <div class="darkcontainer" style="width:40vw;text-align:center;min-width:400px">
                <div class="flexcenter" style="margin: 10px;">
                    <span class="text bold">Welcome to "Finding Joe"</span>
                </div>
                <div class="flexcenter" style="margin: 10px;">
                    <span class="text" style="font-size: 18px;">Ever wonder where Joe runs off to during robotics meetings? Now you can help your fellow comrades in the effort of finding Joe in every room that he hides in, courtesy of the leadership team!</span>
                </div>
                <div class="flexcenter" style="margin: 10px;">
                    <span class="text" style="font-size: 18px;">On the main page, login with your student ID. Then, you can see Joe's last reported location along with options to agree or disagree. If you see Joe in a different place totally, you can report his new location using the dropdown below the main box.</span>
                </div>
                <div class="flexcenter" style="margin: 10px;">
                    <span class="text" style="font-size: 18px;">Joe also has the option to disable this website, but only for 10 minutes at a time. If the website is locked, you cannot see or report a sighting of Joe.</span>
                </div>
                <div class="flexcenter" style="margin: 10px;">
                    <span class="text" style="font-size: 18px;">Contact David Reeves for any questions!</span>
                </div>
                
                <div class="flexcenter" style="margin:20px">
                    <span class="text material-symbols-rounded clickable flexcenter" style="width:60px" onclick="window.location = '/'">arrow_back</span>
                    
                </div>
                
                
            </div>
        </div>

        
        
    </div>

    <div class="logobar">
        <div class="flexcenter">
            <img height="50px" src="862.png"/>
            
        </div>

    </div>


</body>